node_modules
dist
generated
.env
.aptos
config.yaml
config.json
text.txt
test.txt
.env.dev
.env.stage
.env.local
.env.docker
.prettierrc.yaml
config.json
.DS_Store
config.local.json
config.dev.json
config.stage.json
config.local.json
dev.env
stage.env
local.env
test.ts
